body{
  height: 300vh; 
}

main{
  position : fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(darkred 30%, lightblue 50%);
}

img{
  height: 300px;
}

/* ne pas toucher aux éléments ci-dessus. On travail c'est ce qui permet d'avoir une page que l'on peut 
"scroller" mais qui visuellement ne bouge pas. */


#fleur{
  --largeur:833px;
  height : calc(var(--largeur)*1.6);
  width: var(--largeur);
  position: relative;
  left:50%;
  top:50%;
  transform :translateY(-50%) translateX(-50%);

}


#petale1{
  height: 22%;
  width : 80%;
  left: 39%; 
  top : 30%;
  mask-image: url('../img/gpetale_jaune.svg');
  background-color: yellow;
  mask-repeat: no-repeat;
  position: absolute;
}

#petale2{
  height: 20%;
  width : 80%;
  left: 49%; 
  top : 46%;
  rotate: 50deg;
  mask-image: url('../img/gpetale_bleu.svg');
  background-color:royalblue;
  mask-repeat: no-repeat;
  position: absolute;
}

#petale3{
  height: 20%;
  width : 80%;
  left: 11%; 
  top : 18%;
  rotate: -50deg;
  mask-image: url('../img/gpetale_verte.svg');
  background-color:darkgreen;
  mask-repeat: no-repeat;
  position: absolute;
}

#petale4{
  height: 13%;
  width : 80%;
  left: 44%; 
  top : 37%;
  mask-image: url('../img/gpetale_bleu.svg');
  background-color:darkred;
  mask-repeat: no-repeat;
  position: absolute;
}

#petale5{
  height: 13%;
  width : 80%;
  left: 27%; 
  top : 17%;
  rotate: -40deg;
  mask-image: url('../img/petale_jaune.svg');
  background-color:yellow;
  mask-repeat: no-repeat;
  position: absolute;
}

#petale6{
  height: 13%;
  width : 80%;
  left: 47%; 
  top : 44%;
  rotate: 40deg;
  mask-image: url('../img/petale_jaune.svg');
  background-color:yellow;
  mask-repeat: no-repeat;
  position: absolute;
}

#petale7{
  height: 13%;
  width : 80%;
  left: 46%; 
  top : 44%;
  rotate: -10deg;
  mask-image: url('../img/petale_verte.svg');
  background-color:darkgreen;
  mask-repeat: no-repeat;
  position: absolute;
}

#petale8{
  height: 13%;
  width : 80%;
  left: 46%; 
  top : 57%;
  rotate: 6deg;
  mask-image: url('../img/petale_bleu.svg');
  background-color:royalblue;
  mask-repeat: no-repeat;
  position: absolute;
}

#petale9{
  height: 11%;
  width : 80%;
  left: 48%; 
  top : 60%;
  rotate: -1deg;
  mask-image: url('../img/petale_jaune.svg');
  background-color:yellow;
  mask-repeat: no-repeat;
  position: absolute;
}

#petale10{
  height: 13%;
  width : 80%;
  left: 46%; 
  top : 70%;
  rotate: 8deg;
  mask-image: url('../img/petale_verte.svg');
  background-color:darkgreen;
  mask-repeat: no-repeat;
  position: absolute;
}

#petale11{
  height: 11%;
  width : 80%;
  left: 48%; 
  top : 74%;
  mask-image: url('../img/petale_bleu.svg');
  background-color:royalblue;
  mask-repeat: no-repeat;
  position: absolute;
}

#petale12{
  height: 11%;
  width : 80%;
  left: 45%; 
  top : 75%;
  rotate: -9deg;
  mask-image: url('../img/petale_jaune.svg');
  background-color:yellow;
  mask-repeat: no-repeat;
  position: absolute;
}

#petale13{
  height: 13%;
  width : 80%;
  left: 46%; 
  top : 82%;
  rotate: -3deg;
  mask-image: url('../img/petale_verte.svg');
  background-color:darkgreen;
  mask-repeat: no-repeat;
  position: absolute;
}

#petale14{
  height: 11%;
  width : 80%;
  left: 46%; 
  top : 91%;
  rotate: 6deg;
  mask-image: url('../img/petale_bleu.svg');
  background-color:royalblue;
  mask-repeat: no-repeat;
  position: absolute;
}

#goutte{
  height: 11%;
  width : 80%;
  left: 30%; 
  top : 91%;
  rotate: 6deg;
  mask-image: url('../img/goutte_1.svg');
  background-color:green;
  mask-repeat: no-repeat;
  position: absolute;
}